/* 헤더 */
*{padding:0;margin:0}
ul,li{list-style: none;}
.inner{width:1200px;height:100%;margin:0 auto;}
#wrap{height: 2350px;}
a{text-decoration: none;}



/* 헤더 */
#header{width:100%;height: 110px;background-color: #e23322;}
#header>.inner>.logo{float:left;padding-top: 25px;}
#header>.inner>.menu{width:400px;float:right;color: #fff;
font-weight: bold;text-align: center;
padding-top: 40px;}
#header>.inner>.menu>li{width:100px;float:left;font-size: 20px;}
#header>.inner>.menu:after{display: block;content: "";clear:both;}
#header>.inner:after{display: block;content: "";clear:both;}


.menu{width: 600px; float: right; position: relative}

#header:after{display: block; content: ""; clear: both}

.menu a{color: rgb(255, 255, 255)}

.menu>li{width: 200px; height: 30px; float: left; padding: 6px 0; 
    text-align: center; transition: all 0.4s}
.submenu{width: 400px; position: absolute; top:82px; left: 0; 
    background-color: rgba(0,0,0,0.3); opacity: 0; 
    transition: all 0.4s 
}




.submenu>ul{width:400px;}
.menu>li:hover .submenu{opacity: 1; z-index: 2; transition: all 0.4s}
.submenu>ul>li{float: left; transition: all 0.4s;width:100px;text-align: center;padding: 6px 0 6px;}
.
.m1{width: 25%; margin: 0 auto}
.m2{width: 50%; margin: 0 auto}
.m3{width: 75%; margin: 0 auto}
.menu>li:hover{background-color: rgb(49, 24, 28); transition: all 0.4s}
.submenu>ul>li:hover{background-color: green; transition: all 0.4s}











/* 컨텐츠 */
#contents{width:100%;height: 1800px;}
.box1{height:1800px;position: relative;background-image: url(../img/boxbg.jpg);
background-size: cover;}
.mainimg{width:100%;height:790px;position: absolute;background-image: url(../img/mainimg.png);
background-position: center center;background-repeat: no-repeat;
background-size: cover;right:0;left:0;margin:0 auto;
z-index: 1;}
.mainimg>.text_box{position: absolute;color:#fff;
left:22%;top:10%;z-index: 3;}
.mainimg>.text_box>p{font-size: 15px;
padding-bottom: 35px;}
.mainimg>.text_box>h1{font-size: 70px;}
.box1>.inner{height:800px;padding-top: 900px;text-align: center;}
.box1>.inner>h1{font-size: 95px;font-weight: 400;
padding-bottom: 35px;}
.box1>.inner>p{font-size: 40px;padding-bottom: 80px;}


.center_menu{margin:0 auto;width:820px;height:50px;background-image: url(../img/menu.png);
    background-position: center center;background-repeat: no-repeat;
    margin-bottom: 65px;}
.center_menu>ul>li{padding-top:12px;float:left;font-size: 20px;
    font-weight: 200;}
    .center_menu>ul>li:nth-child(1){color: #fff;
    padding-left: 68px;} 
    .center_menu>ul>li:nth-child(2){padding-left: 100px;}  
    .center_menu>ul>li:nth-child(3){padding-left: 90px;}
    .center_menu>ul>li:nth-child(4){padding-left: 90px;}        
    .center_menu:after{display: block;content: "";clear:both;}



.imgset{margin:0 auto;width:920px;}
.imgset>.list{width: 200px;height: 290px;float:left;padding-left: 30px;
    }
.imgset>.list:nth-child(1){padding-left: 15px;}
.imgset>.list>img{width:100%;height: 100%;box-shadow: 3px 3px 10px rgb(0 0 0 / 30%)}
.imgset:after{display: block;content: "";clear:both;}

.pattern1{width:200px;height:200px;position: absolute;left:15%;top:38%;
z-index:1;}
.pattern1>img,.pattern2>img,.pattern3>img{width:100%;height: 100%;}
.pattern2{width:300px;height:300px;position: absolute;right:5%;top:60%;}
.pattern3{width:150px;height:150px;position: absolute;left:5%;top:90%;}


#contents2{height: 420px;background-image: url(../img/box2.jpg);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
z-index: 2;}


#contents2>.inner>.text_box{
    width:500px;text-align: center;}

#contents2>.inner>.text_box>h1{
        font-size: 40px;
        padding-bottom: 25px;
        padding-top: 100px;}

        #contents2>.inner>.text_box>h4{
            font-size: 15px;
        padding-bottom: 25px;}
            #contents2>.inner>.text_box>p{
                font-size: 12px;
            padding-bottom: 30px;}

                .btn{width:190px;height: 50px;background-color: #87715e;
                line-height: 50px;color: #fff;border-radius: 50px;text-align: center;
            margin:0 auto;font-size: 18px;}

            .btn:hover{background-color: #2d1a02;transition: 0.4s;}
         



/* 푸터 */
#footer{height: 125px;}
#footer>.inner:after{display: block;content: "";clear:both;}
#footer>.inner{height:60px;padding-top: 35px;}
.footer_logo{float:left;}
#footer>.inner>p{font-size:12px;float:left;padding-top: 30px;padding-left: 40px;}

.sns{float:right;padding-top:18px}
.sns>li{padding-left:15px;float:left;width:30px;height: 30px;}
.sns>li>img{width:100%;height: 100%;}
.sns>li:after{display: block;content: "";clear:both;}
